<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление курса</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet"/>
</head>
<body class="flex flex-col h-screen justify-between">
<header th:insert="~{blocks/header :: header}"></header>

<section class="bg-gray-100 dark:bg-gray-900 h-full">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-full lg:py-0">
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Добавление курса
                </h1>
                <form class="space-y-4 md:space-y-6" action="/course/add" method="POST">
                    <div>
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Название</label>
                        <input type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Основы c++" required="">
                    </div>
                    <div>
                        <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Описание</label>
                        <input type="text" name="description" id="description" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Описание курса" required="">
                    </div>
                    <div>
                        <label for="start_time" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Дата начала</label>
                        <input type="datetime-local" name="start_time" id="start_time" placeholder="дд.мм.гггг, --:--" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                    </div>
                    <div>
                        <label for="end_time" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Дата окончания</label>
                        <input type="datetime-local" name="end_time" id="end_time" placeholder="дд.мм.гггг, --:--" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                    </div>

                    <button type="submit" class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</section>

<footer th:insert="~{blocks/footer :: footer}"></footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
</body>
</html>

<!--
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление курса</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body background = "1.jpg">
<header th:insert = "blocks/header :: header"></header>
<div class = "contaier mt-5">
    <h1>Добавить курс</h1>
    <form action="/course/add" th:object="${courseRequest}" method="post">
        <input type = "text" name = "name" placeholder="Введите название курса" class="form-control">
        <textarea  name = "description" placeholder="Введите описание курса" class="form-control"></textarea>
        <input type = "datetime-local" name = "start_time" placeholder="Введите дату начала курса" class="form-control">
        <input type = "datetime-local" name = "end_time" placeholder="Введите дату окончания курса" class="form-control">
        <button type="submit" class = "btn btn-success">Добавить курс</button>
    </form>
</div>


<footer th:insert = "blocks/footer :: footer"></footer>
</body>
</html>
-->
