<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детали курса</title>
</head>
<body>

<h1>Информация</h1>

<div th:if="${course != null}">
    <h2 th:text="${course.name}"></h2>
    <p th:text="${course.description}"></p>

    <div th:if="${courseContents != null}">
        <ul class="course-content-list">
            <li th:each="content : ${courseContents}">
                <h3 th:text="${content.name}">Название контента</h3>
                <p>Тип: <span th:text="${content.type}">Тип контента</span></p>
                <p th:text="${content.info}">Информация о контенте</p>
            </li>
        </ul>
    </div>

</div>




<div th:if="${course == null}">
    <p>Course not found</p>
</div>

</body>
</html>

<style>

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
        font-family: 'Montserrat', sans-serif;
    }

.course-content-list {
    padding-left: 20px; /* Отступ слева для элементов списка */
}

</style>