<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление курса</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body background = "1.jpg">
<header th:insert = "blocks/header :: header"></header>
<div class = "contaier mt-5">
    <h1>Добавить курс</h1>
    <form action="/course/add" method="post">
        <input type = "text" name = "name" placeholder="Введите название курса" class="form-control">
        <textarea  name = "description" placeholder="Введите описание курса" class="form-control"></textarea>
        <input type = "datetime-local" name = "start_time" placeholder="Введите дату начала курса" class="form-control">
        <input type = "datetime-local" name = "end_time" placeholder="Введите дату окончания курса" class="form-control">
        <button type="submit" class = "btn btn-success">Добавить курс</button>
    </form>
</div>


<footer th:insert = "blocks/footer :: footer"></footer>
</body>
</html>
